.no-border {
    border:none
}

.nibu-button {
    --tw-text-opacity: 1;
    color: var(--nibu-button-text-color);
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-width: 1px;
    border-radius: var(--nibu-button-border-radius);
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    display: inline-flex;
    // background-color: rgb(220 38 38 / 1);
    background-color: var(--nibu-button-color);
    position: relative;
    gap: 0.125rem;
    box-sizing: border-box;
    width: var(--nibu-button-width);
    height: var(--nibu-button-height);
    vertical-align: middle;
    opacity: var(--nibu-button-opacity);
    &__loading {
        >svg {
            width: 1.25rem;
            height: 1.25rem;
        }
    }
    &:hover{
        background-color: var(--nibu-button-hover-color);
        color: var(--nibu-button-text-hover-color);
    }
    &:active {
        background-color: var(--nibu-button-active-color);
        color:var(--nibu-button-text-active-color);
    }
    &:disabled {
        background-color: var(--nibu-button-disabled-color);
        cursor: not-allowed;
        color:var(--nibu-button-text-color);
    }
    >svg {
        width: 1.25rem;
        height: 1.25rem;
    }
}

.spin {
    animation: spin 1s linear infinite;
}
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.nibu-button__loading {
    transition: all .3s;
    opacity: 0.7;
}