@tailwind base;
@tailwind components;
@tailwind utilities; 


:root{
    --background: white;
    --text-color: black;
    /* --select-background: black; */
    /* --select-text-color: white; */
    --blue-color: blue;
    --nibu-button-color: #FFACBB;
    --nibu-button-hover-color: color-mix(in srgb, #FFACBB 90%, white);
    --nibu-button-active-color: color-mix(in srgb, #FFACBB 90%, black);;
    --nibu-button-disabled-color: color-mix(in srgb, #FFACBB 80%, white);;
}

/* @media (prefers-color-scheme: dark) { */
    /* :root { */
        /* --background: black; */
        /* --text-color: white; */
        /* --select-background: white; */
        /* --select-text-color: black; */
    /* } */
/* } */
html {
    color-scheme: dark light;
}
:root:has(#theme [value="dark"]:checked) {
    color-scheme:light;
    --background: black;
    --text-color: white;
    --select-background: white;
    --select-text-color: black;
}
:root:has(#theme [value="light"]:checked) {
    color-scheme:dark;
    --background: white;
    --text-color: black;  
    --select-background: black;
    --select-text-color: white;
}
input,select {
    font:inherit;
    background-color: inherit;
}
/* @layer components {
    .slide-enter-active,
    .slide-leave-active {
        @apply transition-[max-height] duration-1000 ease-in-out;
    }

    .slide-enter-from,
    .slide-leave-to{
        @apply max-h-0 overflow-hidden;
    }

    .slide-enter-to,
    .slide-leave-from {
        @apply max-h-[500px] overflow-hidden
    }
} */